.tooltip-container {
  position: relative;
  cursor: pointer;
}

.t-tooltip {
  background-color: #1FC451;
  position: absolute;
  top: 100%;
  left: 0;
  transform: none;
  padding: 0.8em 1.2em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 12px;
  color: black;
  font-weight: 600;
  font-size: 0.85rem;
  white-space: normal;
  width: 260px;
  line-height: 1.4;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 100;
}

.t-tooltip::before {
  background-color: #1FC451;
  position: absolute;
  content: "";
  height: 0.7em;
  width: 0.7em;
  top: -0.35em;
  left: 20px;
  transform: rotate(45deg);
}

.tooltip-container:hover .t-tooltip {
  top: calc(100% + 15px);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
